<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725233907318-e9ttte1mnp3lkk9pj3cdolcpsm9qun7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725233907318-e9ttte1mnp3lkk9pj3cdolcpsm9qun7g</string>
	<key>API_KEY</key>
	<string>AIzaSyDzW_Xg_6epF34PJHHM2KSRa4KcIgh610Q</string>
	<key>GCM_SENDER_ID</key>
	<string>725233907318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minorCinemaapp</string>
	<key>PROJECT_ID</key>
	<string>minorcinema</string>
	<key>STORAGE_BUCKET</key>
	<string>minorcinema.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725233907318:ios:b9b481440312f0c0ed1157</string>
</dict>
</plist>